#MainView {
  position: absolute;
  width: 70%;
  right: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin-bottom: 40px;
}

#sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(116, 116, 116);
  padding-top: 20px;
  overflow-x: hidden;
  z-index: 2;
}
#nav {
  width: 75%;
  top: 0;
  position: fixed;
  right: 0;
  height: 65px;
  padding: 10px 16px;
  background-color: slategray;
  text-align: center;
  z-index: 1;
}

#player {
  text-align: center;
  z-index: -10;
}

#Footer {
  width: 100%;
  position: fixed;
  height: 45px;
  left: 0;
  bottom: 0;
  background-color: slategray;
  text-align: center;
  z-index: 3;
}

.youtube-video-entry {
  margin: 10px;
  border: solid black 1px;
  padding: 10px;
  display: flex;
  width: 350px;
}

.spotify-track-entry {
  margin: 10px;
  border: solid black 1px;
  padding: 10px;
}

input[type=text] {
  width: 500px;
}

.currTrack {
  color: rgb(110, 44, 44);
  font-weight: bold;
}

.search-button {
  transform: translate(2px, -25%);
}

.playlist-button {
  transform: translate(2px, -25%);
}

#queue {
  margin-left: 10px;
}

.youtube-right {
  padding: 5px;
}

.youtube-left {
  padding: 5px;
}

.spotify-top {
  display: flex;
}

.spotify-buttons {
  padding: 12px;
}

.playlist-entry {
  display: flex;
}